<section class="gray-bg small-padding">
    <div class="container">


        <div class="row">
            <div class="col-md-4">
                <div class="section-title fl-wrap">
                    <h4>Browse Hot Offers</h4>
                    <h2>Latest Properties</h2>
                </div>
            </div>
            <div class="col-md-8">
                <div class="listing-filters gallery-filters">
                    <a href="#" class="gallery-filter  gallery-filter-active" data-filter="*"> <span>All Categories</span></a>
                    <a href="#" class="gallery-filter" data-filter=".for_sale"> <span>For Sale</span></a>
                    <a href="#" class="gallery-filter" data-filter=".for_rent"> <span>For Rent</span></a>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <!-- grid-item-holder-->	
        <div class="grid-item-holder gallery-items gisp fl-wrap"class="row">
        <div *ngFor="let item of maisons">
            <!-- gallery-item-->
                <!-- listing-item -->
                <div class="listing-item" class="col-md-4">
                    <article class="geodir-category-listing fl-wrap" >
                        <div class="geodir-category-img fl-wrap">
                            <a [routerLink]="['/maison', item._id]" class="geodir-category-img_item">
                                <img [src]="'http://127.0.0.1:3000/getimage/' + item.images[0]"  alt="">
                                <div class="overlay"></div>
                            </a>
                            <div class="geodir-category-location">
                                <a href="#" class="single-map-item tolt" data-newlatitude="40.72956781" data-newlongitude="-73.99726866"   data-microtip-position="top-left" data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i> <span> {{item.adresse}} ,  {{item.gouvernerat}} </span></a>
                            </div>
                            <a href="#" class="geodir_save-btn tolt" data-microtip-position="left" data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>
                            <a href="#" class="compare-btn tolt" data-microtip-position="left" data-tooltip="Compare"><span><i class="fal fa-random"></i></span></a>                   
                        </div>
                        <div class="geodir-category-content fl-wrap">
                            <h3 class="title-sin_item"><a [routerLink]="['/maison', item._id]">{{item.nom}}</a></h3>
                            <div class="geodir-category-content_price">dt {{item.prix}} / per month</div>
                            <div class="geodir-category-content-details">
                                <ul>
                                    <li><i class="fal fa-bed"></i><span>{{item.chambres}}</span></li>
                                    <li><i class="fal fa-bath"></i><span>{{item.salledebain}}</span></li>
                                    <li><i class="fal fa-cube"></i><span>{{item.surface}}</span></li>
                                </ul>
                            </div>
                            <div class="geodir-category-footer fl-wrap">
                                <a href="agent-single.html" class="gcf-company"><img src="images/avatar/2.jpg" alt=""><span>Created at: {{item.datedepot | date}}</span></a>
                                <div class="listing-rating card-popup-rainingvis tolt" data-microtip-position="top" data-tooltip="Good" data-starrating2="4"></div>
                            </div>
                        </div>

                    </article>
                    </div>
                </div>
                <!-- listing-item end-->															
            </div>
            <!-- gallery-item end-->
            																
      
        <!-- grid-item-holder-->	
        <a href="listing.html" class="btn float-btn small-btn color-bg">View All Properties</a>
    </div>
</section>
