          <!--register form -->
          <div class="main-register-wrap modal">
            <div class="reg-overlay"></div>
            <div class="main-register-holder tabs-act">
                <div class="main-register-wrapper modal_main fl-wrap">
                    <div class="main-register-header color-bg">
                        <div class="main-register-logo fl-wrap">
                            <img src="images/white-logo.png" alt="">
                        </div>
                        <div class="main-register-bg">
                            <div class="mrb_pin"></div>
                            <div class="mrb_pin mrb_pin2"></div>
                        </div>
                        <div class="mrb_dec"></div>
                        <div class="mrb_dec mrb_dec2"></div>
                    </div>
                    <div class="main-register">
                        <div class="close-reg"><i class="fal fa-times"></i></div>
                        <ul class="tabs-menu fl-wrap no-list-style">
                            <li class="current"><a href="#tab-1"><i class="fal fa-sign-in-alt"></i> Login</a></li>
                            <li><a href="#tab-2"><i class="fal fa-user-plus"></i> Register</a></li>
                        </ul>
                        <!--tabs -->                       
                        <div class="tabs-container">
                            <div class="tab">
                                <!--tab -->
                                <div id="tab-1" class="tab-content first-tab">
                                    <div class="custom-form">
                                        <form method="post"  name="registerform">
                                            <label>Username or Email Address  * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                                            <input name="email" type="text"  placeholder="Your Name or Mail"  onClick="this.select()" value="">
                                            <div class="pass-input-wrap fl-wrap">
                                                <label >Password  * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                                                <input name="password" placeholder="Your Password" type="password"  autocomplete="off" onClick="this.select()" value="" >
                                                <span class="eye"><i class="fal fa-eye"></i> </span>
                                            </div>
                                            <div class="lost_password">
                                                <a href="#">Lost Your Password?</a>
                                            </div>
                                            <div class="filter-tags">
                                                <input id="check-a3" type="checkbox" name="check">
                                                <label for="check-a3">Remember me</label>
                                            </div>
                                            <div class="clearfix"></div>
                                            <button type="submit"  class="log_btn color-bg"> LogIn </button>
                                        </form>
                                    </div>
                                </div>
                                <!--tab end -->
                                <!--tab -->
                            <app-register></app-register>
                                <!--tab end -->
                            </div>
                            <!--tabs end -->
                            <div class="log-separator fl-wrap"><span>or</span></div>
                            <div class="soc-log fl-wrap">
                                <p>For faster login or register use your social account.</p>
                                <a href="#" class="facebook-log"> Facebook</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--register form end -->