                <!-- footer -->	
                <footer class="main-footer fl-wrap">
                    <div class="footer-inner fl-wrap">
                        <div class="container">
                            <div class="row">
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-logo fl-wrap">
                                            <img src="assets/images/logo.png" alt="" >
                                        </div>
                                        <p>Améliorez la gestion de votre petite structure d'hébergement
                                            avec HOME, la solution tout-en-un pour vos gîtes, maison d'hôtes.</p>
                                        <div class="fw_hours fl-wrap">
                                            <span>Monday - Friday:<strong> 8am - 6pm</strong></span>
                                            <span>Saturday - Sunday:<strong> 9am - 3pm</strong></span>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer widget end-->
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-title fl-wrap">
                                            <h4>Explorer</h4>
                                        </div>
                                        <ul class="footer-list fl-wrap">
                                            <li><a href="/listing">Maisoon d'hôtes</a></li>
                                            <li><a href="/blog_page">Blog</a></li>
                                            <li><a href="/contact">Contact</a></li>
                                            
                                        </ul>
                                    </div>
                                </div>
                                <!-- footer widget end--> 
                                <!-- footer widget-->
                                <div class="col-md-3">
                                    <div class="footer-widget fl-wrap">
                                        <div class="footer-widget-title fl-wrap">
                                            <h4>Contacts Info</h4>
                                        </div>
                                        <ul  class="footer-contacts fl-wrap">
                                            <li><span><i class="fal fa-envelope"></i> Mail :</span><a href="#" target="_blank">conact@home.tn</a></li>
                                            <li> <span><i class="fal fa-map-marker"></i> Adress :</span><a href="#" target="_blank">Tunis</a></li>
                                            <li><span><i class="fal fa-phone"></i> Phone :</span><a href="#">+216 55484568</a></li>
                                        </ul>
                                        <div class="footer-social fl-wrap">
                                            <ul>
                                                <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                                                <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <!-- footer widget end-->   
                                                              
                            </div>
                        </div>
                    </div>
                    <!--sub-footer-->
                    <div class="sub-footer gray-bg fl-wrap">
                        <div class="container">
                            <div class="copyright"> &#169; Home .  Tous droits réservés </div>
                           
                        </div>
                    </div>
                    <!--sub-footer end -->                     
                </footer>
                <!-- footer end -->