<section>
    <div class="container">
        <!--about-wrap -->
        <div class="about-wrap">
            <div class="row">
                <div class="col-md-5">
                    <div class="about-title ab-hero fl-wrap">
                        <h2>Why Choose Our Properties </h2>
                        <h4>Check video presentation to find   out more about us .</h4>
                    </div>
                    <div class="services-opions fl-wrap">
                        <ul>
                            <li>
                                <i class="fal fa-headset"></i>
                                <h4>24 Hours Support  </h4>
                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            </li>
                            <li>
                                <i class="fal fa-users-cog"></i>
                                <h4>User Admin Panel</h4>
                                <p>Nulla posuere sapien vitae lectus suscipit, et pulvinar nisi tincidunt. Curabitur convallis fringilla diam sed aliquam. </p>
                            </li>
                            <li>
                                <i class="fal fa-phone-laptop"></i>
                                <h4>Mobile Friendly</h4>
                                <p>Curabitur convallis fringilla diam sed aliquam. Sed tempor iaculis massa faucibus feugiat. In fermentum facilisis massa.</p>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-1"></div>
                <div class="col-md-6">
                    <div class="about-img fl-wrap">
                        <img src="assets/images/all/27.jpg" class="respimg" alt="">
                        <div class="about-img-hotifer color-bg">
                            <p>Your website is fully responsive so visitors can view your content from their choice of device.</p>
                            <h4>Mark Antony</h4>
                            <h5>Homeradar CEO</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- about-wrap end  -->							
    </div>
</section>