     <!-- section  -->
     <section class="hidden-section no-padding-section">
        <div class="half-carousel-wrap">
            <div class="half-carousel-title color-bg">
                <div class="half-carousel-title-item fl-wrap">
                    <h2>Explorer les meilleures villes</h2>
                </div>
                <div class="pwh_bg"></div>
            </div>
            <div class="half-carousel-conatiner">
                <div class="half-carousel fl-wrap full-height">
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="half-carousel-item fl-wrap">
                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                <div class="bg"  data-bg="assets/images/bg/long/4.jpg"></div>
                            </div>
                            <div class="half-carousel-content">
                                <div class="hc-counter color-bg">26 Properties</div>
                                <h3><a href="listing.html">Ain drahem</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="half-carousel-item fl-wrap">
                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                <div class="bg"  data-bg="assets/images/bg/long/2.jpg"></div>
                            </div>
                            <div class="half-carousel-content">
                                <div class="hc-counter color-bg">89 Properties</div>
                                <h3><a href="listing.html">Djerba</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->									
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="half-carousel-item fl-wrap">
                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                <div class="bg"  data-bg="assets/images/bg/long/3.jpg"></div>
                            </div>
                            <div class="half-carousel-content">
                                <div class="hc-counter color-bg">102 Properties</div>
                                <h3><a href="listing.html">Trouvez votre rêve à bizerte</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->
                    <!--slick-item -->
                    <div class="slick-item">
                        <div class="half-carousel-item fl-wrap">
                            <div class="bg-wrap bg-parallax-wrap-gradien">
                                <div class="bg"  data-bg="assets/images/bg/long/1.jpg"></div>
                            </div>
                            <div class="half-carousel-content">
                                <div class="hc-counter color-bg">51 Properties</div>
                                <h3><a href="listing.html">Les maisons d'hôtes au cap bon</a></h3>
                            </div>
                        </div>
                    </div>
                    <!--slick-item end -->									
                </div>
            </div>
        </div>
    </section>
    <!--section end-->  