<div class="gallery-item for_sale">
    <!-- listing-item -->
    <div class="listing-item">
        <article class="geodir-category-listing fl-wrap">
            <div class="geodir-category-img fl-wrap">
                <a href="/detail_maison" class="geodir-category-img_item">
                    <img src="assets/images/all/3.jpg" alt="">
                    <div class="overlay"></div>
                </a>
                <div class="geodir-category-location">
                    <a href="#" class="single-map-item tolt" data-newlatitude="40.72956781" data-newlongitude="-73.99726866"   data-microtip-position="top-left" data-tooltip="On the map"><i class="fas fa-map-marker-alt"></i> <span>  70 Bright St New York, USA</span></a>
                </div>
                
                <a href="#" class="geodir_save-btn tolt" data-microtip-position="left" data-tooltip="Save"><span><i class="fal fa-heart"></i></span></a>

                <div class="geodir-category-listing_media-list">
                    <span><i class="fas fa-camera"></i> 8</span>
                </div>
            </div>
            <div class="geodir-category-content fl-wrap">
                <h3 class="title-sin_item"><a href="listing-single.html">Gorgeous House For Sale</a></h3>
                <div class="geodir-category-content_price">$ 600,000</div>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas in pulvinar neque. Nulla finibus lobortis pulvinar. Donec a consectetur nulla.</p>
                <div class="geodir-category-content-details">
                    <ul>
                        <li><i class="fal fa-bed"></i><span>3</span></li>
                        <li><i class="fal fa-bath"></i><span>2</span></li>
                        <li><i class="fal fa-cube"></i><span>450 ft2</span></li>
                    </ul>
                </div>
                <div class="geodir-category-footer fl-wrap">
                    <a href="agent-single.html" class="gcf-company"><img src="assets/images/avatar/2.jpg" alt=""><span>By Liza Rose</span></a>
                    <div class="listing-rating card-popup-rainingvis tolt" data-microtip-position="top" data-tooltip="Good" data-starrating2="4"></div>
                </div>
            </div>
        </article>
    </div>
    <!-- listing-item end-->															
</div>