<div id="wrapper">
    <!-- content -->	
    <div class="content">
        <!--  section  -->
        <section class="hidden-section single-par2  " data-scrollax-parent="true">
            <div class="bg-wrap bg-parallax-wrap-gradien">
                <div class="bg par-elem "  data-bg="images/bg/10.jpg" data-scrollax="properties: { translateY: '30%' }"></div>
            </div>
            <div class="container">
                <div class="section-title center-align big-title">
                    <h2><span>Notre contact</span></h2>
                    <h4>Améliorez la gestion de votre petite structure d'hébergement
                        avec HOME, la solution tout-en-un pour vos gîtes, maison d'hôtes.</h4>
                </div>
                <div class="scroll-down-wrap">
                    <div class="mousey">
                        <div class="scroller"></div>
                    </div>
                    <span>Faites défiler vers le bas pour découvrir</span>
                </div>
            </div>
        </section>
        <!--  section  end--> 		
        <!-- breadcrumbs-->
        <div class="breadcrumbs fw-breadcrumbs sp-brd fl-wrap">
            <div class="container">
                <div class="breadcrumbs-list">
                    <a href="#">Accueil</a> <span>Contact</span>
                </div>
                <div class="share-holder hid-share">
                    <a href="#" class="share-btn showshare sfcs">  <i class="fas fa-share-alt"></i>Partager</a>
                    <div class="share-container  isShare"></div>
                </div>
            </div>
        </div>
        <!-- breadcrumbs end -->
        <!-- section -->
        <section class="gray-bg small-padding">
            <div class="container">
                <div class="row">
                    <!-- services-item -->
                    <div class="col-md-4">
                        <div class="services-item fl-wrap">
                            <i class="fal fa-envelope"></i>
                            <h4>Notre mail <span>01</span></h4>
                            <a href="#" class="serv-link sl-b">contact@home.com</a>
                        </div>
                    </div>
                    <!-- services-item  end-->
                    <!-- services-item -->
                    <div class="col-md-4">
                        <div class="services-item fl-wrap">
                            <i class="fal fa-phone-rotary"></i>
                            <h4> Nos téléphones<span>02</span></h4>
                            <a href="#" class="serv-link sl-b">+216 54054026</a>
                        </div>
                    </div>
                    <!-- services-item  end-->
                    <!-- services-item -->
                    <div class="col-md-4">
                        <div class="services-item fl-wrap">
                            <i class="fal fa-map-marked"></i>
                            <h4>Notre adresse  <span>03</span></h4>
                            <a href="#" class="serv-link sl-b">Centre urbain nord Tunis</a>
                        </div>
                    </div>
                    <!-- services-item  end-->								
                </div>
                <div class="clearfix"></div>
                <div class="contacts-opt fl-wrap">
                    <div class="contact-social">
                        <span class="cs-title">Trouvez-nous sur 
                        </span>
                        <ul>
                            <li><a href="#" target="_blank"><i class="fab fa-facebook-f"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-twitter"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-instagram"></i></a></li>
                            <li><a href="#" target="_blank"><i class="fab fa-vk"></i></a></li>
                        </ul>
                    </div>
                    <a href="#" class="btn small-btn float-btn color-bg cf_btn">Ecrire un message</a>
                    <div class="contact-notifer">Ou visiter notre  <a href="help.html">  help page</a></div>
                </div>
                <!--box-widget  -->			
                      <div class="contact-form-wrap">
            <div class="contact-form-container">
                <div class="contact-form-main fl-wrap">
                    <div class="contact-form-header">
                        <h4>Get In Touch</h4>
                        <span class="close-contact-form"><i class="fal fa-times"></i></span>
                    </div>
                    <div id="contact-form" class="contact-form fl-wrap">
                        <div id="message"></div>
                        <form  class="custom-form" action="https://homeradar.kwst.net/php/contact.php" name="contactform" id="contactform">
                            <fieldset>
                                <label>Your name* <span class="dec-icon"><i class="fas fa-user"></i></span></label>
                                <input type="text" name="name" id="name" placeholder="Your Name *" value=""/>
                                <label>Your mail* <span class="dec-icon"><i class="fas fa-envelope"></i></span></label>
                                <input type="text"  name="email" id="email" placeholder="Email Address*" value=""/>
                                <textarea name="comments"  id="comments" cols="40" rows="3" placeholder="Your Message:"></textarea>
                            </fieldset>
                            <button class="btn float-btn color-bg" style="margin-top:15px;" id="submit">Send Message</button>
                        </form>
                    </div>
                    <!-- contact form  end--> 					
                </div>
            </div>
            <div class="contact-form-overlay"></div>
        </div>
        <!--contact-form-wrap end-->
                <!--box-widget end --> 									
            </div>
        </section>
        <!-- section end-->	
    </div>
    <!-- content end -->	

    <!-- footer -->	
    
    <!-- footer end -->
</div>
        <!--contact-form-wrap -->	
 	

<!-- <app-why-choose></app-why-choose>         -->