<section >
    <div class="container">
        <!-- section-title -->
        <div class="section-title st-center fl-wrap">
            <h2>Notre blog</h2>
        </div>
        <!-- section-title end -->
        <div class="clearfix"></div>
        <div class="listing-carousel-wrapper lc_hero carousel-wrap fl-wrap">
            <div class="listing-carousel carousel ">
                <!-- slick-slide-item -->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="assets/images/agency/agent/blog1.png"  style="max-height:200px;" alt="">
                                   
                                </a>
                             
                            </div>
                            <div class="geodir-category-title ">
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html"  style="max-height:55px;" >Béja: 6 Activités hors-normes à faire dans la région</a></h4>
                                    <p class="text-truncate" style="max-height:55px;">Vous en avez marre du stress de votre vie professionnelle ou personnelle? Passez un weekend à Béja pour vous détendre et vous relaxer tout en découvrant ce paysage ...unique.  Vous êtes en train de planifier vos itinéraires pour[...]r</p>

                               
                                </div>

                                
                            
                            </div>
                            
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item row">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="assets/images/agency/agent/blog2.png"  style="max-height:200px;" alt="">
                                
                                </a>
                                
                            </div>
                            <div class="geodir-category-title ">
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html"  style="max-height:55px;" >Les Meilleures Boutiques de Produits Artisanaux en Fibres de Palmier en Tunisie</a></h4>
                                    <p class="text-truncate" style="max-height:55px;">Le savoir-faire tunisien englobe plusieurs métiers, matières et artisaneries. Quand nous parlons du savoir-faire tunisien, nous avons la tendance de citer : la harissa du Cap Bon, la céramique de Nabeul et l’artisanat des[...]</p>

                               
                                </div>

                                
                            
                            </div>
                            
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item row">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="assets/images/agency/agent/blog3.png"  style="max-height:200px;" alt="">
                                
                                </a>
                                
                            </div>
                            <div class="geodir-category-title ">
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html"  style="max-height:55px;" >15 choses uniques au monde que vous ne connaissez pas sur la Tunisie</a></h4>
                                    <p class="text-truncate" style="max-height:55px;">
                                        Les endroits recèlent souvent de trésors insoupçonnés. C’est le cas de la Tunisie qui offre cette rencontre inoubliable avec un monde différent.

                                        La Tunisie a fait couler l’encre des écrivains, a étonné les yeux des peintres et des photographes et tout cela avec son unicité. Et pourtant pour la plupart la Tunisie reste un pays méconnu qui cache des choses uniques.
                                        
                                        C’est cette Tunisie là qui donne envie à la découverte.
                                </div>

                                
                            
                            </div>
                            
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <div class="slick-slide-item">
                    <!--  agent card item -->
                    <div class="listing-item row">
                        <article class="geodir-category-listing fl-wrap">
                            <div class="geodir-category-img fl-wrap  agent_card">
                                
                                <a href="agent-single.html" class="geodir-category-img_item">
                                    <img src="assets/images/agency/agent/blog.png"  style="max-height:200px;" alt="">
                                
                                </a>
                                
                            </div>
                            <div class="geodir-category-title ">
                                <div class="agent_card-title fl-wrap">
                                    <h4><a href="agent-single.html"  style="max-height:55px;" >Les meilleurs maisons d'hôtes en tunisie
                                    </a></h4>
                                    <p class="text-truncate" style="max-height:55px;">
                                        Les endroits recèlent souvent de trésors insoupçonnés. C’est le cas de la Tunisie qui offre cette rencontre inoubliable avec un monde différent.

                                        La Tunisie a fait couler l’encre des écrivains, a étonné les yeux des peintres et des photographes et tout cela avec son unicité. Et pourtant pour la plupart la Tunisie reste un pays méconnu qui cache des choses uniques.
                                        
                                        C’est cette Tunisie là qui donne envie à la découverte.
                                </div>

                                
                            
                            </div>
                            
                        </article>
                    </div>
                    <!--  agent card item end -->
                </div>
                <!-- slick-slide-item end-->								
            </div>
            <div class="swiper-button-prev lc-wbtn lc-wbtn_prev"><i class="far fa-angle-left"></i></div>
            <div class="swiper-button-next lc-wbtn lc-wbtn_next"><i class="far fa-angle-right"></i></div>
        </div>
    </div>
</section>