<section class="gray-bg ">
    <div class="container">
        <div class="section-title st-center fl-wrap">
            <h2>Notre partenaire</h2>
        </div>
    </div>
    <div class="clearfix"></div>
        <div class="testimonials-slider">
            <!--slick-item -->
  
            <!--slick-item end -->							
            <!--slick-item -->
            <div class="slick-item">
                <!-- <div class="text-carousel-item fl-wrap"> -->
                    <div class="text-carousel-item-header fl-wrap">
                        <div class="avatar"><img src="assets/images/avatar/darmaamoura.jpg" alt="" height="250" width="300"></div>
                   </div>
                   
                <!-- </div> -->
            </div>
            <div class="slick-item">
                    <div class="text-carousel-item-header fl-wrap">
                        <div class="avatar"><img src="assets/images/avatar/ichkeul.png" alt="" height="250" width="300"></div>
                   </div>
                   
                
            </div><div class="slick-item">
                    <div class="text-carousel-item-header fl-wrap">
                        <div class="avatar"><img src="assets/images/avatar/dar_gino.png" alt="" height="250" width="300"></div>
                   </div>
                   
               
            </div><div class="slick-item">
                    <div class="text-carousel-item-header fl-wrap">
                        <div class="avatar"><img src="assets/images/avatar/darlamma.png" alt="" height="250" width="300"></div>
                   </div>
                
            </div>

            <!--slick-item end -->								
        </div>
    
</section>