<section class="hero-section gray-bg">
    <div class="bg-wrap">
        <div class="half-hero-bg-media full-height">
            <div class="slider-progress-bar">
                <span>
                    <svg class="circ" width="30" height="30">
                        <circle class="circ2" cx="15" cy="15" r="13" stroke="rgba(255,255,255,0.4)" stroke-width="1" fill="none"/>
                        <circle class="circ1" cx="15" cy="15" r="13" stroke="#fff" stroke-width="2" fill="none"/>
                    </svg>
                </span>
            </div>
            <div class="slideshow-container" >
                <!-- slideshow-item -->
                <div class="slideshow-item">
                    <div class="bg"  data-bg="assets/images/bg/19.jpg"></div>
                </div>
                <!--  slideshow-item end  -->
                <!-- slideshow-item -->
                <div class="slideshow-item">
                    <div class="bg"  data-bg="assets/images/bg/17.jpg"></div>
                </div>
                <!--  slideshow-item end  -->
                <!-- slideshow-item -->
                <div class="slideshow-item">
                    <div class="bg"  data-bg="assets/images/bg/12.jpg"></div>
                </div>
                <!--  slideshow-item end  -->
            </div>
        </div>
    </div>
    <div class="container">
        <div class="hero-title hero-title_small">
            <h4>
                Plateforme de recherche immobilière</h4>
            <h2>Trouvez la maison de vos rêves <br>
                
            </h2>
        </div>
        <div class="main-search-input-wrap shadow_msiw">
            <div class="main-search-input fl-wrap">
                <div class="main-search-input-item">
                    <input type="text" placeholder="Qu'est-ce que tu cherches?" value=""/>
                </div>
                <!-- <div class="main-search-input-item">
                    <select data-placeholder="All Categories"  class="chosen-select no-search-select" >
                        <option>All Statuses</option>
                        <option>For Rent</option>
                        <option>For Sale</option>
                    </select>
                </div> -->
                <div class="main-search-input-item">
                    <select data-placeholder="All Categories"  class="chosen-select" >
                        <option>All Cities</option>
                        <option>New York</option>
                        <option>London</option>
                        <option>Paris</option>
                        <option>Kiev</option>
                        <option>Moscow</option>
                        <option>Dubai</option>
                        <option>Rome</option>
                        <option>Beijing</option>
                    </select>
                </div>
                <button class="main-search-button color-bg" onclick="window.location.href='listing.html'"> Chercher <i class="far fa-search"></i> </button>
            </div>
        </div>
        <div class="hero-notifer fl-wrap">Avez-vous besoin de plus d'options de recherche ? <a href="listing.html">
            Recherche Avancée</a> </div>
        <div class="scroll-down-wrap">
            <div class="mousey">
                <div class="scroller"></div>
            </div>
            <span>
                Faites défiler vers le bas pour découvrir</span>
        </div>
    </div>
</section>