<div id="wrapper">
  <!-- dashbard-menu-wrap -->
  <div class="dashbard-menu-overlay"></div>
  <div class="dashbard-menu-wrap">
    <div class="dashbard-menu-close"><i class="fal fa-times"></i></div>
    <div class="dashbard-menu-container">
      <!-- user-profile-menu-->
      <div class="user-profile-menu">
        <h3>Main</h3>
        <ul class="no-list-style">
          <li>
            <a href="dashboard.html"
              ><i class="fal fa-chart-line"></i>Dashboard</a
            >
          </li>
          <li>
            <a href="dashboard-myprofile.html"
              ><i class="fal fa-user-edit"></i> Modifier profile</a
            >
          </li>
        </ul>
      </div>
      <!-- user-profile-menu end-->
      <!-- user-profile-menu-->
      <div class="user-profile-menu">
        <h3>Listings</h3>
        <ul class="no-list-style">
          <li>
            <a href="dashboard-listing-table.html"
              ><i class="fal fa-th-list"></i> My listigs
            </a>
          </li>
          <li>
            <a href="dashboard-bookings.html">
              <i class="fal fa-calendar-check"></i> Bookings <span>3</span></a
            >
          </li>
          <li>
            <a href="dashboard-review.html"
              ><i class="fal fa-comments-alt"></i> Reviews <span>2</span>
            </a>
          </li>
          <li>
            <a routerLink="/ajoutmaison" class="user-profile-act"
              ><i class="fal fa-file-plus"></i> Ajout maison</a
            >
          </li>
        </ul>
      </div>
      <!-- user-profile-menu end-->
    </div>
    <div class="dashbard-menu-footer">
      &#169; Homeradar 2022 . All rights reserved.
    </div>
  </div>
  <!-- dashbard-menu-wrap end  -->
  <!-- content -->

  <!-- content end -->
  <div class="dashbard-bg gray-bg"></div>
</div>
<!-- wrapper end -->
<!-- Main end -->
