            <app-cover></app-cover>
            <!-- wrapper  -->	
            <div id="wrapper">
                <!-- content -->	
                <div class="content">
<app-blog-list></app-blog-list>
<app-partenaire></app-partenaire>

<app-blog></app-blog>

<!-- <app-clients-say></app-clients-say> -->

                    <!-- section end-->	
                   
               <app-best-cities></app-best-cities>					
                    <!-- section -->
                
                    <!-- section end-->					
                    <!-- section -->
                    <!-- section end-->	 
                    <!-- section -->
               <!-- <app-clients-say></app-clients-say> -->
                    <!-- section end-->
                </div>
                <!-- content end -->	
                <!-- subscribe-wrap -->	
             
                <!-- subscribe-wrap end -->	
            </div>
            <!-- wrapper end -->