<div class="tab">
    <div id="tab-2" class="tab-content">
        <div class="custom-form">
            <form method="post"   name="registerform" class="main-register-form" id="main-register-form2">
                <label >Full Name  * <span class="dec-icon"><i class="fal fa-user"></i></span></label>
                <input [(ngModel)]="author.name"  type="text" placeholder="Your Name"    onClick="this.select()" value="">
                
                <label>Email Address  * <span class="dec-icon"><i class="fal fa-envelope"></i></span></label>
                <input [(ngModel)]="author.email" type="text"  placeholder="Your Mail"   onClick="this.select()" value="">
                <label >Phone<span class="dec-icon"><i class="fal fa-phone"></i></span></label>
                <input [(ngModel)]="author.phone" type="text" placeholder="Your Phone"    onClick="this.select()" value="">
                <div class="pass-input-wrap fl-wrap">
                    <label >Password  * <span class="dec-icon"><i class="fal fa-key"></i></span></label>
                    <input [(ngModel)]="author.password" type="password" placeholder="Your Password"  autocomplete="off"  onClick="this.select()" value="" >
                    <span class="eye"><i class="fal fa-eye"></i> </span>
                </div>
                <div class="filter-tags ft-list">
                    <input id="check-a2" type="checkbox" name="check">
                    <label for="check-a2">I agree to the <a href="#">Privacy Policy</a> and <a href="#">Terms and Conditions</a></label>
                </div>
                <div class="clearfix"></div>
                <button  type="submit"     class="log_btn color-bg"> Register </button>
            </form>
        </div>
    </div>
</div>